# Function dependencies, for example:
# package>=version
snowflake-connector-python==2.3.7
snowflake==0.0.3
-r https://raw.githubusercontent.com/snowflakedb/snowflake-connector-python/v2.3.7/tested_requirements/requirements_36.reqs
pandas==1.1.5
pyarrow==1.0.1